$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #323232;
$color-grey: #999999;
$color-light_grey: #E0E0E0;
$color-ashen: #F6F6F8;
$color-line: #A1A1A1;
$color-fon: #4e4e4e4f;
$color-accent: #4985FF;
$color-second-bg: #504DC2;
